# ignore text editor stuff
*.bak
*~
\#*\#
.\#*


# ignore usual data files
*.m4b
*.spn
*.root
*.run*
*.pre*
*.dat
!SCOEF.dat
!FitGuesses.dat

# compiled files
build/

# compile objects
*.so
*.d
*.pcm
*.d
*.o

# root stuff
AutoDict*

# CMake Stuff
CMake*
!Makefile
!CMakeLists.txt
