/* BASE */

@import 'https://fonts.googleapis.com/css?family=Lato';
@import 'https://fonts.googleapis.com/css?family=Consolas';

html, body, table, div, p, dl {
    font-family: 'Lato', sans-serif !important;
    font: "300 14px/22px Lato,sans-serif" !important;
}

/* LINE HIGHLIGHTING */
div.line {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace !important;
    font-size: 14px;
    min-height: 15px;
    line-height: 1.5;
    text-wrap: unrestricted;
    white-space: -moz-pre-wrap; /* Moz */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: pre-wrap;      /* CSS3  */
    word-wrap: normal;      /* IE 5.5+ */
    text-indent: -53px;
    padding-left: 53px;
    padding-bottom: 0px;
    margin: 0px;
    -webkit-transition-property: background-color, box-shadow;
    -webkit-transition-duration: 0.5s;
    -moz-transition-property: background-color, box-shadow;
    -moz-transition-duration: 0.5s;
    -ms-transition-property: background-color, box-shadow;
    -ms-transition-duration: 0.5s;
    -o-transition-property: background-color, box-shadow;
    -o-transition-duration: 0.5s;
    transition-property: background-color, box-shadow;
    transition-duration: 0.5s;
}
div.line:hover{
    background-color: #EEEEFF;
    font-weight: bold;
}

div.line.glow {
    background-color: cyan;
    box-shadow: 0 0 10px cyan;
}


span.lineno {
    padding-right: 4px;
    text-align: right;
    color:rgba(0,0,0,0.3);
    border-right: 1px solid #EEE;
    border-left: 1px solid #EEE;
    background-color: #EEEEEE;
    white-space: pre;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
span.lineno a {
    background-color: #FAFAFA;
    cursor:pointer;
}

span.lineno a:hover {
    background-color: #EFE200;
    color: #1e1e1e;
}
